*{
}

body{

}
#hexCode{
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 35%;
    left: 35%;
}
body button{
    background-color: grey;
    width: 120px;
    height: 40px;
    border-radius: 5%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
}