html, body {margin: 0; height: 100%; overflow: hidden}

body{
    background-color: #C49E85;
}

.container{
    display: inline-block;
    padding: 30px;
    margin: 100px;
    padding-left: 0px;
    background-color: #ffffffc6;
}
.quotes{
    display: inherit;
    font-family: sans-serif; /* Красный цвет символов */ 
    font-size: 20vw;
    width: 13%;
    font-weight: bold;
    color: gray;
    float: left;
    
}
#generate{
    text-align: center;
    float: left;
    display: inherit;
    width: 85%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: gray;
}
#authorName{
    margin-right: 30px;
    float: right;
    font-family: sans-serif;
    font-size: 3vw;
    color: #C055F5;
}
#button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    text-align: center;
    background-color: #C055F5;
    width: 15vw;
    height: 5vw;
    border-radius: 5%;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}
