/*Main*/
html {
  height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Bubblegum Sans', cursive;
    min-height: 100%;
    border: none;
    background-color: #F8F4F9;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
/*Navigation bar*/
.TopNavigation{
    position: fixed;
    top: 0;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}
.logo{
    float: left;
    margin-left: 7%;
    margin-right: 4%;
    margin-bottom: 0;
    width: 7vw;
    height: 7vw;
}   

/* Top Navigation Bar*/
nav{
    margin-top: 0;
    color: #F8F4F9;
    width: 100%;
    margin: 0;
    border: none;
    background-color: #3b1f09;
    z-index: 2;
}
.list{
    display: block;
    margin: 0;
}
nav ul{
    height: 100%;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    text-decoration: none;
}
nav ul li{
    margin: 0 2px;
    display: block;
    transition: color .25s ease-in-out,background-color .25s ease-in-out;
    padding: 15px;
    height: 100%;
    border: 4px double #3b1f09;
    border-radius: 7px;
}
nav ul li:hover{
    font-weight: bold;
    background-color: #F8F4F9;
    color: #3b1f09;
}

nav ul a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    height: inherit;
}
.info{
    display: flex;
    flex: 1;
    justify-content:flex-end;
    align-items: center;
}
.icon{
    width: 35px;
    height: 35px;
    margin: 0 10px;
}
.cart_box{
    display: inherit;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    transition: color .25s ease-in-out,background-color .25s ease-in-out;
    border: 4px double #3b1f09;
    border-radius: 17px;
}
#cart_icon_before{
    width: 55px;
    height: 55px;
    margin: 5px;
    margin-right: 10px;
}
#cart_icon_after{
    display: none;
    width: 55px;
    height: 55px;
    margin: 5px;
    margin-right: 10px;
}
.cart_box:hover{
    font-weight: bold;
    background-color: #F8F4F9;
    color: #3b1f09;
}

.cart_box:hover #cart_icon_before {
    display: none;
}
.cart_box:hover #cart_icon_after {
    display: inherit;
}

/*Welcome*/
.welcome{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(1,1,1,0.6), rgba(1,1,1,0.6)), url(assets/img/bg.jpg) center/cover fixed no-repeat;
}
.transparrent_bg{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 5%;
    flex-direction: column;
    background: linear-gradient(0.25turn, #3f87a600 0%, #0000004f 25%,  #0000005f 50%, #0000004f 75%, #f69d3c00 100%);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 7vw;
    color: #ffffffe5;
}
.explore_btn{
    font-family: inherit;
    font-weight: bold;
    color: #F8F4F9;
    background-color: #3b1f093f;
    font-size: 2vw;
    border-radius: 7%;
    width: 10vw;
    height: 7vh;
    user-select: none;
    box-shadow: none;
    transition: color .25s ease-in-out,background-color .25s ease-in-out;
    border: 4px double #3b1f09;
    border-radius: 7px;
}
.explore_btn:hover{
    color: #3b1f09;
    background-color: #F8F4F9;
}

                /*Store*/
.actual_store{
    width: 100%;
    height: auto;
    text-align: center;
}
.tile_store{
    font-size: 10vw;
    color: #F8F4F9;
    white-space: pre; 
    -webkit-text-stroke: 2px #77e100;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.btn_filter{
    font-family: inherit;
    font-weight: bold;
    color: #52C005;
    margin: 0 20px;
    font-size: 110%;
    border-radius: 7%;
    width: 10vw;
    height: 7vh;
    user-select: none;
    box-shadow: none;
    transition: color .25s ease-in-out,background-color .25s ease-in-out;
    border: 4px double #3b1f09;
    border-radius: 7px;
}
.btn_filter:hover{
    color: #F8F4F9;
    background-color: #52C005;
}
/*Cards*/
#cards{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.personal_item{
    border: 4px solid rgba(155,125,82,0.45);
    border-radius: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20vw;
    height: 50vh;
    background-color: #C49E85;
    overflow: hidden;
    cursor: pointer;
}
.img_container{
    width: 100%;
    height: 43vh;
    overflow: hidden;
}
.item_avatar{
    background-color: floralwhite;
    width: 100%;
    height: 100%;
    object-fit:contain;
    z-index: 0;
    transition: all 1s ease-in-out
/*    transform: translate(10px, 10px);*/
}
#text{
    border-top: 4px solid rgba(155,125,82,0.6);
    font-size: 90%   ;
    display: flex;
    width: 100%;
    height: 6.2vh;
    flex-basis: auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.25s ease-in-out;
}
.itemName{
    float: left;
    margin-left: 10px;
}
.itemprice{    
    width: 20%;
    font-size: 110%;
    float: right;
    margin-right: 10px;
}
.personal_item:hover .item_avatar {
    transform: scale(1.03);
/*    transform: translate(10px, 10px);*/
}
.personal_item:hover #text {
    background-color: #F8F4F9f6;
    border-radius: 0px 0px 0px 10px;
}