@import "mixins";

$card_text_color : #5C5655;
$sky_blue : #00b4f4;
$sidebar_color : #dddddc;
$text_color: #2c2a2b;
$subtext_color: #737373;
$topfix_height : 25px;
$first_block : #088d2b;
$country_tile_height : 85vh;
$img-containers-wrapper : 30vw;


@fontface{
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-family: gilroy;
}
@fontface{
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-family: Gilroy-Light;
}
body{
  overflow-x: hidden;
  font-family: gilroy, arial;
}

.sidebar{
  position: fixed;
  left: 0;
  z-index: 6;
  line-height: 0.9;
  min-width: 17vw;
  height: 100vh;
  color: $text_color;
  background-color: $sidebar_color;
  letter-spacing: 2px;
    .filters li a{
      color: inherit;
    }
    .subtext li a{
      color: $subtext_color;
    }
    .title{
      font-size: 65px;
      font-family: gilroy, arial;
      font-weight: 900;
      letter-spacing: 0px;
      -webkit-text-stroke: 1px black;
    }
    .title span{
      font-size: 15px;
      -webkit-text-stroke: 0px black;
    }
}
.main_content{
  margin-left: 17vw;
  height: 300vh;
  width: auto;

  .topfix{
    width: 85vw;
    height: $topfix_height;
    padding-top: auto;
    background-color: $sky_blue;
    color: white;
    position: fixed;
    z-index: 5;
  }
  .main_content--summer_sale{
    padding-top: $topfix_height;
    @include main-content--image-container(calc(95vh - #{$topfix_height}), '../assets/img/bg1.jpg');
      .main_content_summer_sale_text_wrapper{
        @include image-container--text-wrapper;
        .main_script{
          font-size: 4.5vw;
          font-weight: bold;
        }
        .subscript{
          font-size: 1.5vw;
        }
    }
  }

  .main_content_summer_sale_arrow_down{
    height: 9vh;
    color: black;
      span{
        font-weight: 900;
        font-size: 1.5vw;
        position: relative;
        top: 30%;
      }
  }
  .row{
    height: 37vh;
    .card-main{
      position: relative;
        height: inherit;
          img {
            @include card--bg-img;
          }
      .item{
        border: none;
        @include card--item;
          .card-body{
            @include card--body;
            .card-title{
            @include card--title;
            }
            .card-price{
            @include card--price;
            }
            .old-price{
            @include card--old-price;
            }
          }
      }
    }
    .card-main:hover .item{
        visibility: visible;
        opacity: 0.9;
      }
  }
  .filled-container{
    @include main-content--filled-container(#088d2b,32vh);
      h2{
        font-size: 3vw;
      }
      h3{
        font-size: 2vw;
      }
  }

  .country_tile{
    height: $country_tile_height;
    .country_tile--col{
      @include main-content--image-container($country_tile_height, '../assets/img/bg2.webp');
        .main_content_summer_sale_text_wrapper{
          @include image-container--text-wrapper;
          .main_script{
            font-size: 4.5vw;
            font-weight: bold;
          }
          .subscript{
            font-size: 1.5vw;
          }
      }
    }
    .item-tiles{
      .row{
        margin: 0;
        height: $country_tile_height/2;
        width: inherit;
        .card-main{
          top: 0;
          left: 0;
          width: 100%;
          position: relative;
          height: inherit;
              img {
                @include card--bg-img;
              }
          .item{
            @include card--item;
              .card-body{
                @include card--body;
                .card-title{
                @include card--title;
                }
                .card-price{
                @include card--price;
                }
                .old-price{
                @include card--old-price;
                }
              }
          }
        }
        .card-main:hover .item{
            visibility: visible;
            opacity: 0.9;
          }

      }
    }
  }
  .filled-container-2{
    @include main-content--filled-container(#62b1ef,32vh);
    h2{
      font-size: 3.2vw;
    }
    h3{
      font-size: 2vw;
      font-weight: normal;
    }
  }
  .img-containers-wrapper{
    min-height: $img-containers-wrapper;
  #container1{
      min-height:inherit;
      width: 100%;
      .country_tile--col{
        @include main-content--image-container($img-containers-wrapper, '../assets/img/bg4.webp');
        .main_content_summer_sale_text_wrapper{
          @include image-container--text-wrapper;
          .main_script{
            font-size: 4.5vw;
            font-weight: bold;
          }
          .subscript{
            -webkit-text-stroke: 0.25px white;
            font-size: 3.2vw;
          }
        }
      }
    }
  #container2{
      min-height:inherit;
      width: 100%;
      .country_tile--col{
        @include main-content--image-container($img-containers-wrapper, '../assets/img/bg3.jpg');

        .main_content_summer_sale_text_wrapper{
          @include image-container--text-wrapper;
          .main_script{
            font-size: 4.5vw;
          }
          .subscript{
            -webkit-text-stroke: 0.25px #472626;
            color: #472626;
            font-size: 3.2vw;
          }
        }
      }
    }
  }
  
    .filled-container-3{
      .inner_wrapper{
      @include main-content--filled-container(white,37vh);
      padding-top: 7vh;
      color: #333333;
      .logos{
        margin: 0;
        width: 100%;
        height: 10vw;
        .section{
            width: 12.5%;
            img{
            width: 100%;
            height:auto;
          }
        }
      }
      h2{
        font-size: 3vw;
      }
      h3{
        font-weight: bold;
        font-size: 2vw;
        -webkit-text-stroke: 0px #333333;
      }}
    }

    .filled-container-4{
      @include main-content--filled-container(#2d5296,37vh);
      h2{
        font-size: 3vw;
      }
      h3{
        font-size: 2vw;
      }
    }

    .footer{
      height: 60vh;
      background-color: #ebebeb;
      color: #676c6c;
    }

}
