@fontface {
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-family: gilroy; }

@fontface {
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-family: Gilroy-Light; }

body {
  overflow-x: hidden;
  font-family: gilroy, arial; }

.sidebar {
  position: fixed;
  left: 0;
  z-index: 6;
  line-height: 0.9;
  min-width: 17vw;
  height: 100vh;
  color: #2c2a2b;
  background-color: #dddddc;
  letter-spacing: 2px; }
  .sidebar .filters li a {
    color: inherit; }
  .sidebar .subtext li a {
    color: #737373; }
  .sidebar .title {
    font-size: 65px;
    font-family: gilroy, arial;
    font-weight: 900;
    letter-spacing: 0px;
    -webkit-text-stroke: 1px black; }
  .sidebar .title span {
    font-size: 15px;
    -webkit-text-stroke: 0px black; }

.main_content {
  margin-left: 17vw;
  height: 300vh;
  width: auto; }
  .main_content .topfix {
    width: 85vw;
    height: 25px;
    padding-top: auto;
    background-color: #00b4f4;
    color: white;
    position: fixed;
    z-index: 5; }
  .main_content .main_content--summer_sale {
    padding-top: 25px;
    color: white;
    height: calc(95vh - 25px);
    width: 100%;
    background-image: url("../assets/img/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .main_content .main_content--summer_sale .main_content_summer_sale_text_wrapper {
      line-height: 0.75;
      letter-spacing: 3px;
      position: relative;
      top: 45%; }
      .main_content .main_content--summer_sale .main_content_summer_sale_text_wrapper .main_script {
        font-size: 4.5vw;
        font-weight: bold; }
      .main_content .main_content--summer_sale .main_content_summer_sale_text_wrapper .subscript {
        font-size: 1.5vw; }
  .main_content .main_content_summer_sale_arrow_down {
    height: 9vh;
    color: black; }
    .main_content .main_content_summer_sale_arrow_down span {
      font-weight: 900;
      font-size: 1.5vw;
      position: relative;
      top: 30%; }
  .main_content .row {
    height: 37vh; }
    .main_content .row .card-main {
      position: relative;
      height: inherit; }
      .main_content .row .card-main img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1; }
      .main_content .row .card-main .item {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        letter-spacing: 0.5px;
        font-weight: 100;
        font-family: Gilroy-Light, arial;
        color: #5C5655;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out; }
        .main_content .row .card-main .item .card-body {
          height: inherit;
          line-height: 0.35;
          background-color: #C3BEBD40; }
          .main_content .row .card-main .item .card-body .card-title {
            color: #00b4f4;
            font-size: 1.3vw;
            font-weight: 700; }
          .main_content .row .card-main .item .card-body .card-price {
            font-size: 1vw;
            color: #F95E5E; }
          .main_content .row .card-main .item .card-body .old-price {
            font-size: 1vw;
            text-decoration: line-through;
            color: #5C5655; }
    .main_content .row .card-main:hover .item {
      visibility: visible;
      opacity: 0.9; }
  .main_content .filled-container {
    padding-top: 10.66667vh;
    background-color: #088d2b;
    height: 32vh;
    color: white;
    -webkit-text-stroke: 0.5px white; }
    .main_content .filled-container h2 {
      font-size: 3vw; }
    .main_content .filled-container h3 {
      font-size: 2vw; }
  .main_content .country_tile {
    height: 85vh; }
    .main_content .country_tile .country_tile--col {
      color: white;
      height: 85vh;
      width: 100%;
      background-image: url("../assets/img/bg2.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .main_content .country_tile .country_tile--col .main_content_summer_sale_text_wrapper {
        line-height: 0.75;
        letter-spacing: 3px;
        position: relative;
        top: 45%; }
        .main_content .country_tile .country_tile--col .main_content_summer_sale_text_wrapper .main_script {
          font-size: 4.5vw;
          font-weight: bold; }
        .main_content .country_tile .country_tile--col .main_content_summer_sale_text_wrapper .subscript {
          font-size: 1.5vw; }
    .main_content .country_tile .item-tiles .row {
      margin: 0;
      height: 42.5vh;
      width: inherit; }
      .main_content .country_tile .item-tiles .row .card-main {
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
        height: inherit; }
        .main_content .country_tile .item-tiles .row .card-main img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: -1; }
        .main_content .country_tile .item-tiles .row .card-main .item {
          position: absolute;
          top: 0;
          left: 0;
          height: inherit;
          width: inherit;
          letter-spacing: 0.5px;
          font-weight: 100;
          font-family: Gilroy-Light, arial;
          color: #5C5655;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.3s ease-in-out; }
          .main_content .country_tile .item-tiles .row .card-main .item .card-body {
            height: inherit;
            line-height: 0.35;
            background-color: #C3BEBD40; }
            .main_content .country_tile .item-tiles .row .card-main .item .card-body .card-title {
              color: #00b4f4;
              font-size: 1.3vw;
              font-weight: 700; }
            .main_content .country_tile .item-tiles .row .card-main .item .card-body .card-price {
              font-size: 1vw;
              color: #F95E5E; }
            .main_content .country_tile .item-tiles .row .card-main .item .card-body .old-price {
              font-size: 1vw;
              text-decoration: line-through;
              color: #5C5655; }
      .main_content .country_tile .item-tiles .row .card-main:hover .item {
        visibility: visible;
        opacity: 0.9; }
  .main_content .filled-container-2 {
    padding-top: 10.66667vh;
    background-color: #62b1ef;
    height: 32vh;
    color: white;
    -webkit-text-stroke: 0.5px white; }
    .main_content .filled-container-2 h2 {
      font-size: 3.2vw; }
    .main_content .filled-container-2 h3 {
      font-size: 2vw;
      font-weight: normal; }
  .main_content .img-containers-wrapper {
    min-height: 30vw; }
    .main_content .img-containers-wrapper #container1 {
      min-height: inherit;
      width: 100%; }
      .main_content .img-containers-wrapper #container1 .country_tile--col {
        color: white;
        height: 30vw;
        width: 100%;
        background-image: url("../assets/img/bg4.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .main_content .img-containers-wrapper #container1 .country_tile--col .main_content_summer_sale_text_wrapper {
          line-height: 0.75;
          letter-spacing: 3px;
          position: relative;
          top: 45%; }
          .main_content .img-containers-wrapper #container1 .country_tile--col .main_content_summer_sale_text_wrapper .main_script {
            font-size: 4.5vw;
            font-weight: bold; }
          .main_content .img-containers-wrapper #container1 .country_tile--col .main_content_summer_sale_text_wrapper .subscript {
            -webkit-text-stroke: 0.25px white;
            font-size: 3.2vw; }
    .main_content .img-containers-wrapper #container2 {
      min-height: inherit;
      width: 100%; }
      .main_content .img-containers-wrapper #container2 .country_tile--col {
        color: white;
        height: 30vw;
        width: 100%;
        background-image: url("../assets/img/bg3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .main_content .img-containers-wrapper #container2 .country_tile--col .main_content_summer_sale_text_wrapper {
          line-height: 0.75;
          letter-spacing: 3px;
          position: relative;
          top: 45%; }
          .main_content .img-containers-wrapper #container2 .country_tile--col .main_content_summer_sale_text_wrapper .main_script {
            font-size: 4.5vw; }
          .main_content .img-containers-wrapper #container2 .country_tile--col .main_content_summer_sale_text_wrapper .subscript {
            -webkit-text-stroke: 0.25px #472626;
            color: #472626;
            font-size: 3.2vw; }
  .main_content .filled-container-3 .inner_wrapper {
    padding-top: 12.33333vh;
    background-color: white;
    height: 37vh;
    color: white;
    -webkit-text-stroke: 0.5px white;
    padding-top: 7vh;
    color: #333333; }
    .main_content .filled-container-3 .inner_wrapper .logos {
      margin: 0;
      width: 100%;
      height: 10vw; }
      .main_content .filled-container-3 .inner_wrapper .logos .section {
        width: 12.5%; }
        .main_content .filled-container-3 .inner_wrapper .logos .section img {
          width: 100%;
          height: auto; }
    .main_content .filled-container-3 .inner_wrapper h2 {
      font-size: 3vw; }
    .main_content .filled-container-3 .inner_wrapper h3 {
      font-weight: bold;
      font-size: 2vw;
      -webkit-text-stroke: 0px #333333; }
  .main_content .filled-container-4 {
    padding-top: 12.33333vh;
    background-color: #2d5296;
    height: 37vh;
    color: white;
    -webkit-text-stroke: 0.5px white; }
    .main_content .filled-container-4 h2 {
      font-size: 3vw; }
    .main_content .filled-container-4 h3 {
      font-size: 2vw; }
  .main_content .footer {
    height: 60vh;
    background-color: #ebebeb;
    color: #676c6c; }
