html, body {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0; height: 100%; overflow: hidden}

body{
    background-color: #BEA7E5;
    font-family: sans-serif;
}
#fname{
    width: 100%;
    height: 30px;
    font-size: 2vw;
    text-align: center;
}
.container{
    border-radius: 10%;
    position: absolute;
    left: 20%;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2vw;
    padding: 50px;
    margin: 10%;
    width: 30%;
    background-color: #F8F4F9;
    color: #6B4B3E;
    text-align: center;
}
.title{
    font-weight: bold;
}
#message{
    margin-top: 1vw;
    color: #BEA7E5;
}
.error{
    display: none;
}
.show{
    color: red;
    display: block;
}
#button{
    margin: 10px;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #C055F5;
    width: 8vw;
    font-size: 1.5vw;
    color: white;
}
