<footer>
    <div class="container">
        <div class="footer__row">
            <div class="footer_address">
                <p><b>AOD New York</b></p>
                <p><i>2250 Lexington Avenue</i></p>
                <p><i>New York, NY 10035  - info@domain.com</i></p>
            </div>
            <div class="footer__socials">
                <div class="footer__icon">
                    <img src="img/block_10/3.png" alt="">
                </div>
                <div class="footer__icon">
                    <img src="img/block_10/1.png" alt="">
                </div>
                <div class="footer__icon">
                    <img src="img/block_10/2.png" alt="">
                </div>
            </div>
            <div class="footer__handcrafted">
                <span class="handcrafted__text">
                    Handcrafted by
                </span>
                <div class="handcrafted__logo">
                    <img src="img/block_10/4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>