.slider {
  height: 100%;
  display: block;
  perspective: 1000px;
  width: 100%;
  position: relative;
  img {
    top:20%;
    left: 35%;
  }
  .active{
    cursor: pointer;
  }
}
.slider img {
  display: inline-block;
  width: 30%;
  height: auto;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s all;
}
.slider img.active {
  z-index: 4;
}
body {
  justify-content: center;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  top: 20%;
  left: 10%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
