// CONSTANTS
$mobile_min: 320px;
$mobile: 750px;
$tablet: 1050px;
$laptop: 1200px;
$desktop: 1300px;
$extra_large: 1600px;


@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";

/*Обнуление*/
* {
padding: 0;
margin: 0;
border: 0;
}

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus,
:active {
outline: none;
}

a:focus,
a:active {
outline: none;
}

nav,
footer,
header,
aside {
display: block;
}

html,
body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
font-family: Lato;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
font-family: Lato;
}

input::-ms-clear {
display: none;
}

button {
cursor: pointer;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

a,
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

ul li {
list-style: none;
}

img {
vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: 400;
}


// main content
// first block


html {
    scroll-behavior: smooth;
}
body {
    font-size: 18px;
    background-color: #151027;
    font-family: 'Gilroy';
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1130px;
    height: 100%;
    margin: 0 auto;
}
.fullpage {
    width: 100vw;
    height: 100vh;
}
.designer {
    background-color: #FFFFFF;
    text-align: center;
    color: #151027;
    &.container {
        max-width: 620px;
        padding: 0 410px;
        margin: 0 auto;
    }
}
.header__container {
    padding: 40px 112px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    max-width: 59px*3+120px*2;
    margin: 0 auto;
}
.header-link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #151027;
}
.designer__body {
    padding: 130px - 40px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.designer-name {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
}
.title {
    font-size: 64px;
    font-family: 'Gilroy-bold';
    line-height: 79px;
    letter-spacing: 0.005em;
    font-weight: bold;
}

.designer__title {
    padding: 12px 0 0 0;
}
.designer__content {
    padding: 16px 0 0 0;
    max-width: 620px;
    margin: 0 auto;
}
.text {
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.005em;
}
.designer__hashtags {
    max-width: 80px+64px+64px+53px+36px*3;
    margin: 0 auto;
    padding: 16px 0 0 0;
}
.designer__hashtag-menu {
    display: flex;
    justify-content: space-between;
}
.hashtag {
    color: #1F62D4;
    font-family: 'Source Sans Pro', sans-serif;
}
.animate * {
    transition: all 1s;
}
// second block
.univero {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background: linear-gradient(126.08deg, #006EE7 0%, #4950B7 100%);
}
.univero__body {
    // padding: 60px 162px 0 120px;
    max-width: 660px;

    &.title {
        font-family: 'Gilroy-bold';
        font-size: 72px;
        line-height: 89px;
        letter-spacing: 0.005em;
    }
}
.univero__logo {
    height: 30px;
    width: 120px;
    background-image: url('../img/001-univero.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
.univero__content {
    padding: 70px 0 0 0;
}
.univero__text {
    padding: 10px 0 0 0;
}
.univero__screenshots {
    padding: 80px 0 0 0;
    position: relative;
    max-width: 620px;
}
.univero__desktop-screenshot {
    z-index: 1;
}
.univero__mobile-screenshot {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: -10%;
}
// UNIUP
.uniup {
    display: flex;
    flex-direction: row;
    color: #063551;
    background: linear-gradient(126.08deg, #FBA198 0%, #AC411D 100%);
}
.uniup__body {
    // padding: 60px 162px 0 120px;
    max-width: 660px;

    &.title {
        font-family: 'Gilroy-bold';
        font-size: 72px;
        line-height: 89px;
        letter-spacing: 0.005em;
    }
}
.uniup__logo {
    height: 45px;
    width: 110px;
    background-image: url('../img/002-uniup.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
.uniup__content {
    padding: 50px 0 0 0;
}
.uniup__text {
    padding: 10px 0 0 0;
}
.uniup__screenshots {
    padding: 80px 0 0 0;
    position: relative;
}
.uniup__desktop-screenshot {
    z-index: 1;
}

// typipay
.typipay {
    background-image: linear-gradient(126.08deg, #A2D7FD 0%, #6DC0FE 100%);
}
.typipay-bg{
    background-image: url('../img/4.png');
    background-repeat: no-repeat;
    background-position: top 0px right 7%;
    min-height: 440px;
}
.typipay__body {
    // padding: 60px 162px 0 120px;
    max-width: 660px;

    &.title {
        font-family: 'Gilroy-bold';
        font-size: 72px;
        line-height: 89px;
        letter-spacing: 0.005em;
    }
}
.typipay_logo {
    display: flex;
    width: 100%;
}
.typipay__logo_logo {
    height: 30px;
    width: 30px;
    background-image: url('../img/003-typipay_logo.svg');
    background-repeat: no-repeat;

}
.typipay__logo_text {
    height: 30px;
    width: 100px;
    background-image: url('../img/004-typipay_text.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
.typipay__content {
    padding: 60px 0 0 0;
}
.typipay__text {
    padding: 10px 0 0 0;
}
.typipay__screenshots {
    padding: 80px 0 0 7.5%;
    position: relative;
    // width: 100%;
    display: inline-block;
}
.typipay__card-screenshot {
    z-index: 20;
}
.typipay__mobile-screenshot {
    position: absolute;
    z-index: 30;
    bottom: 0;
    right: -125px;
}

// animakuro
.animakuro {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background: linear-gradient(126.08deg, #42525F 0%, #09121A 100%);
}
.animakuro__body {
    // padding: 60px 162px 0 120px;
    max-width: 660px;

    &.title {
        font-family: 'Gilroy-bold';
        font-size: 72px;
        line-height: 89px;
        letter-spacing: 0.005em;
    }
}
.animakuro__logo {
    height: 30px;
    width: 120px;
    background-image: url('../img/005-animakuro.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
.animakuro__content {
    padding: 70px 0 0 0;
}
.animakuro__text {
    padding: 10px 0 0 0;
}
.animakuro__screenshots {
    padding: 80px 0 0 0;
    position: relative;
    max-width: 620px;
}
.animakuro__desktop-screenshot {
    z-index: 1;
}
.animakuro__mobile-screenshot {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: -10%;
}
// archive
.archive {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background: linear-gradient(126.08deg, #16E7BC 0%, #32B9BA 100%);
    height: 350px;
}
.archive__body {
    // padding: 60px 162px 0 120px;
    max-width: 660px;

    &.title {
        font-family: 'Gilroy-bold';
        font-size: 72px;
        line-height: 89px;
        letter-spacing: 0.005em;
    }
}
.archive__content {
    padding: 70px 0 0 0;
}
.archive__text {
    padding: 10px 0 0 0;
}
.archive__screenshots {
    padding: 30px 20px;
    width: 100%;
    height: auto;
    position: relative;
}
.archive__desktop-screenshot {
    z-index: 1;
}
.archive__mobile-screenshot {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: -10%;
}

// footer
.footer__row {
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: center;
    align-items: center;
}
.footer__socials {
    display: flex;
    padding: 30px 0;
    width: 12px*2+35px*3;
    justify-content: space-between;
    flex-direction: row;
}
.footer_whatsapp {
    height: 36px;
    width: 36px;
    background-image: url('../img/008-WhatsApp.svg');
    background-repeat: no-repeat;
}
.footer_linkedin {
    height: 36px;
    width: 36px;
    background-image: url('../img/006-LinkedIn.svg');
    background-repeat: no-repeat;
}
.footer_telegram {
    height: 36px;
    width: 36px;
    background-image: url('../img/007-Telegram.svg');
    background-repeat: no-repeat;
}
.footer_email {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
}
.email-link{
    text-decoration: none;
    color: #FFFFFF;
}

.body{
    padding: 60px 162px 0 120px;
}
.active{
    border-radius: 10px;
    transform: scale3d(0.95, 0.85, 1);
    .body, .mobile-screenshot{
        transform: scale3d(1.0526, 1.18, 1);
    }
    .desktop-screenshot{
        transform: translate(-5px, 15px);
        img{
            transform: scale3d(1.0526, 1.18, 1);
        }
    }
}

.dark_bg {
    background-color: #151027;
}

section{
    overflow: hidden;
}
.section-container{
    display: flex;
    max-width: 1600px;
    min-height: 415px;
    flex-direction: row;
    color: #FFFFFF;
    position: relative;
    .uniup__body{
        color: #063551;
    }
}

.stick-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

@media screen and (max-width: $mobile) and (min-width: $mobile_min){
    .typipay__mobile-screenshot{
        width: 30%;
        display: inline-block;
        img{
            width: 100%;
            height: auto;
        }
    }
    .header__container {
        padding: 30px 5%;
    }
}
@media screen and (max-width: $tablet){
    .typipay__content, .uniup__content, .univero__content, .animakuro__content, .archive__content{
        padding: 25px 0 0 0;
    }
    .section-container{
        display: block;
    }
    .desktop-screenshot>img{
        width: 100%;
    }
    .univero__screenshots, .animakuro__screenshots{
        padding: 25px 0 0 0;
        max-width: 100%;
    }
    .animakuro__mobile-screenshot{
        display: none;
    }
    .univero__mobile-screenshot{
        right: 50%;
        width: 50%;
        transform: translateX(50%);
        img{
            width: 100%;
        }
    }
    .univero__desktop-screenshot{
        opacity: 0.75;
    }
    .archive{
        height: 400px;
    }
    .dark_bg{
        background-color: #fff;
    }
    .typipay__mobile-screenshot {
        right: 50%;
        img{
            transform: translateX(153%);
        }
    }
    .typipay__card-screenshot{
        display: inline-block;
        transform: translateX(-50%);
    }
    .body {
        max-width: 100%;
        padding: 24px 9% 0 16px;
    }
    .title {
        font-size: 50px;
    }
    .typipay__screenshots{
        padding: 80px 0 80px 50%;
        width: 100%;
    }
    .title {
        font-size: 36px;
    }
    .designer__body{
        padding: 0;
    }
    .designer__title{
        padding: 0;
    }
    .designer__content{
        padding: 0 16px;
    }
    .designer__hashtags{
        padding: 16px 15px;
        width: 100%;
    }
}
@media screen and (max-width: $laptop){
    .body {
        max-width: 40%;
        padding: 60px 9% 0 7%;
    }
}
@media screen and (max-width: $desktop){
    .body{
        max-width: 45%;
    }
}
// @media screen and (min-width: $extra_large){
    .section-container{
        width: 100%;
        margin: 0 auto;
    }
// }

@import "slider";